@model List<Movie>;

@*
*MovieControllerdan List veri tipinde veri göndermiştim onu buradan karşıladım.
*Dahasonra modelin yolunuda (namespace'i'(Movie.csin yolu)) tanımladım
*@

<div class="container">
    <h1>Film Listesi</h1>
    <div id="filmler">
        <div class="film">
            @foreach (var film in Model)
            {
                <img src="/img/@film.ImageUrl" alt="@film.Title" />
                @*wwwroot icersinde img kalsorunde bulunan imageları yaz*@
                <p class="p-5">Film Baslık: @film.Title</p>
                <p>Film Acıklama: @film.Description</p>
                <p>Film Yonetmen: @film.Director</p>
                <p>
                    <ul>
                        @foreach (var actor in film.Actors)
                        {
                            <li>@actor</li>
                        }
                    </ul>
                </p>
            }
        </div>
    </div>
</div>